

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-image: url("../img/famil.jpg");*/
    background-color: #f2f2f2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}


.remember {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.remember label {
    margin-right: 5px;
}

input[type="checkbox"] {
    margin-top: 0;
    margin-bottom: .5px;
    margin-right: 5px;
}

.imgLogo {
    width: 100px;
    height: 100px;
    margin-left: 180px;
    border-radius: 50%;
    object-fit: cover;

}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}
